<div class="container my-5">

  <!-- Section -->
  <section>

    <h6 class="font-weight-bold text-center grey-text text-uppercase small mb-4">Services</h6>
    <h3 class="font-weight-bold text-center dark-grey-text pb-2">Our Services</h3>
    <hr class="w-header my-4">
    <p class="lead text-center text-muted pt-2 mb-5">Join thousands of satisfied customers using our template
      globally.</p>

    <div class="row">

      <div class="col-md-6 col-xl-3 mb-4">
        <div class="card text-center">
          <div class="card-body homeCard">
            <p class="mt-4 pt-2"><i class="far fa-object-ungroup fa-4x grey-text"></i></p>
            <h5 class="font-weight-normal my-4 py-2"><a class="dark-grey-text" [routerLink]="['/item']">Items</a></h5>
            <p class="mb-4">Add, edit and delete items.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-xl-3 mb-4">
        <div class="card text-center">
          <div class="card-body homeCard">
            <p class="mt-4 pt-2"><i class="fas fa-hand-holding-usd fa-4x grey-text"></i></p>
            <h5 class="font-weight-normal my-4 py-2"><a class="dark-grey-text" href="#">Store</a></h5>
            <p class="text-muted mb-4">sell items</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-xl-3 mb-4">
        <div class="card text-center">
          <div class="card-body homeCard">
            <p class="mt-4 pt-2"><i class="fas fa-shipping-fast fa-4x grey-text"></i></p>
            <h5 class="font-weight-normal my-4 py-2"><a class="dark-grey-text" [routerLink]="['/supplier']">Suppliers</a></h5>
            <p class="mb-4">Add, edit and delete suppliers.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-xl-3">
        <div class="card text-center">
          <div class="card-body homeCard">
            <p class="mt-4 pt-2"><i class="fas fa-address-card fa-4x grey-text"></i></p>
            <h5 class="font-weight-normal my-4 py-2"><a class="dark-grey-text" [routerLink]="['/customer']">Customers</a></h5>
            <p class="text-muted mb-4">Add, edit and delete customers.</p>
          </div>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-md-6 col-xl-3 mb-4">
        <div class="card text-center">
          <div class="card-body homeCard">
            <p class="mt-4 pt-2"><i class="fas fa-cubes fa-4x grey-text"></i></p>
            <h5 class="font-weight-normal my-4 py-2"><a class="dark-grey-text" href="#">Stock</a></h5>
            <p class="mb-4">Check and control the stock.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-xl-3 mb-4">
        <div class="card text-center">
          <div class="card-body homeCard">
            <p class="mt-4 pt-2"><i class="fas fa-user-friends fa-4x grey-text"></i></p>
            <h5 class="font-weight-normal my-4 py-2"><a class="dark-grey-text" href="#">Users</a></h5>
            <p class="text-muted mb-4">Add, edit and delete users.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-xl-3 mb-4">
        <div class="card text-center">
          <div class="card-body homeCard">
            <p class="mt-4 pt-2"><i class="fas fa-cogs fa-4x grey-text"></i></p>
            <h5 class="font-weight-normal my-4 py-2"><a class="dark-grey-text" [routerLink]="['/config/main-config']">Software Configs</a></h5>
            <p class="mb-4">Management software configurations.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-xl-3">
        <div class="card text-center">
          <div class="card-body homeCard">
            <p class="mt-4 pt-2"><i class="fas fa-chart-line fa-4x grey-text"></i></p>
            <h5 class="font-weight-normal my-4 py-2"><a class="dark-grey-text" href="#">Reports</a></h5>
            <p class="text-muted mb-4">Check reports.</p>
          </div>
        </div>
      </div>

    </div>

  </section>
  <!-- Section -->

</div>
